.nav {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgb(211, 209, 209, 0.3)
}

.nav__list {
    display: flex;
    justify-content: space-between;

}

.nav__link {

    position:relative;
}

@keyframes notificationAnimation{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }
    100%{
        transform: none;
    }
}

.nav_notification {
    position: absolute;
    left: 20px;
    bottom : 15px;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav_setting {
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 30px;

}

@keyframes appearBtnAnimation{
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.nav__btn {
    animation: appearBtnAnimation 1s ease-in-out;
}